<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>
    <%- include('partials/navigation')%>
        <br>
        <h1 class=" text-uppercase fw-bold">Productos Nutricionales para Entrenamiento</h1>
        <!--main content-->
        <br>
        <br>
        <br>
        <h2> Productos Nutricionales para Fisicoculturistas </h2>
        <br>
        <br>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/acua.png" alt="" width="250px" height="200px">
                <h3><small>AQTUA SUPREME</small></h3>
                <p>Aqtua de Omnilife tiene como característica principal producir energía, protege a las células de los
                    agentes tóxicos externos,
                    disminuye el colesterol malo gracias a que contiene L-carnitina encargada de ayudar a metabolizar
                    las grasas en el cuerpo.
                    Mejora los síntomas de insuficiencia cardiaca y en recuperaciones de cirugías de baipás y válvulas
                    cardiacas.
                    Ayuda a combatir la fatiga, aumenta la resistencia y energía muscular disminuyendo los dolores
                    producidos después del ejercicio.
                </p>
                <h4><small>$67.50</small></h4> <a href="http://localhost/Proyecto-Bemuscle/comprar/"
                    class="btn btn-primary w-20">Comprar</a>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/powerb.png" alt="" width="250px" height="260px">
                <h3><small>POWER MAKER BOTE</small></h3>
                <p>Dentro de algunos beneficios del Power Maker Omnilife esta aumentar la masa muscular, repara y
                    fortalece los tejidos del cuerpo.
                    Mejora los procesos de cicatrización natural y circulación. Gracias a que contiene Arginina
                    beneficia la formación de Huesos,
                    Tendones y disminuye la fatiga muscular. Combinarlo con el Homo o el Fem aporta grandes resultados
                    en procesos hormonales del Hombre y de la Mujer.</p>
                <h4><small>$20.00</small></h4> <a href="http://localhost/Proyecto-Bemuscle/comprar/"
                    class="btn btn-primary w-20">Comprar</a>
            </div>

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/aloe.png" alt="" width="250px" height="260px">
                <h3><small>ALOE BETA </small></h3>
                <p>Suplemento alimenticio con sabores naturales a Jengibre y mandarina endulzado con extracto fruto del
                    monje y estevia.
                    Contiene ingredientes que protegen a las células del estrés oxidativo, retrasan el envejecimiento y
                    mejoran el funcionamiento del metabolismo energético celular.
                    Consúmelo junto con Omniplus sabor a frutas y potencia aún más tu sistema inmunológico.
                </p>
                <h4><small>$38.00</small></h4> <a href="http://localhost/Proyecto-Bemuscle/comprar/"
                    class="btn btn-primary w-20">Comprar</a>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/omni.png" alt="" width="250px" height="200px">
                <h3><small>OMNIOST SUPREME </small></h3>
                <p>Contribuye al fortalecimiento de huesos evitando padecimientos como la osteoporosis y la osteopenia.
                    Gracias a su alto contenido en vitamina D. Combinarlo junto con POWER MAKER beneficiará en gran
                    medida a tus sistema Oseo y Muscular.
                </p>
                <h4><small>$42.50</small></h4> <a href="http://localhost/Proyecto-Bemuscle/comprar/"
                    class="btn btn-primary w-20">Comprar</a>
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/cafe.png" alt="" width="250px" height="200px">
                <h3><small>CAFELIFE PLUS </small></h3>
                <p>Disfrute de un delicioso Café | Cafelife Plus o Cafezzino Plus es un suplemento dietario, que
                    contiene café colombiano,
                    extracto de café verde (Coffea canephora robusta Pierre), cromo e inulina (fibra soluble). Endulzado
                    con estevia de origen natural.
                    Para mejorar temas relacionados con control de peso recomendamos adicionar a su dieta diaria Fiber N
                    Plus Supreme que contiene 7 fibras naturales.
                </p>
                <h4><small>$39.50</small></h4> <a href="http://localhost/Proyecto-Bemuscle/comprar/"
                    class="btn btn-primary w-20">Comprar</a>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/ego10.png" alt="" width="250px" height="200px">
                <h3><small>EGO 10 BOTELLA DE 200 ml.</small></h3>
                <p>Bebida energizante que favorece la producción de energía necesaria para cualquier actividad física
                    durante el día.
                    Puedes combinar este producto con BIOCROS para tener muchas más horas de energía durante el día
                </p>
                <h4><small>$3.80</small></h4><a href="http://localhost/Proyecto-Bemuscle/comprar/"
                    class="btn btn-primary w-20">Comprar</a>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/bios.png" alt="" width="250px" height="200px">
                <h3><small>Biocros Supreme</small></h3>
                <p>Suplemento alimenticio energético que contiene
                    vitaminas del complejo B: tiamina B1, riboflavina B2,
                    ácido pantoténico B5, piridoxina B6, B12, vitaminas C y E,
                    glicina, además de minerales: cobre, cromo y zinc. </p>
                <h4><small>$39.50</small></h4> <a href="http://localhost/Proyecto-Bemuscle/comprar/"
                    class="btn btn-primary w-20">Comprar</a>

            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/tea.png" alt="" width="250px" height="200px">
                <h3><small>Teatino</small></h3>
                <p>Suplemento alimenticio sabor a limón, que contiene
                    cromo.</p>
                <h4><small>$39.50</small></h4> <a href="http://localhost/Proyecto-Bemuscle/comprar/"
                    class="btn btn-primary w-20">Comprar</a>

            </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/power.png" alt="" width="250px" height="200px">
                <h3><small>Power Maker</small></h3>
                <p>Suplemento alimenticio, sabor a cookies & cream, que contiene proteína, fibra de avena, salvado de
                    maíz, L-Carnitina, vitamina A, complejo B: tiamina B1, niacina B3, ácido pantoténico B5, piridoxina
                    B6, biotina, ácido fólico B9, cobalamina B12, vitaminas D, E y K, además de minerales: calcio,
                    hierro, fósforo, yodo, magnesio, zinc, cobre, manganeso, cromo, molibdeno y selenio. Con endulzante
                    de origen natural, estevia.</p>
                <h4><small>$62.00</small></h4> <a href="http://localhost:9000" class="btn btn-primary w-20">Comprar</a>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/ego.png" alt="" width="250px" height="200px">
                <h3><small>EGO LIFE SUPREME</small></h3>
                <p>Suplemento alimenticio sabor a piña, que contiene
                    minerales: sodio, magnesio y cromo, además
                    de vitaminas del complejo B: riboflavina B2
                    y ácido pantoténico B5. Con glicósidos de
                    esteviol, endulzante de origen natural.</p>
                <h4><small>$29.50</small></h4> <a href="http://localhost:9000" class="btn btn-primary w-20">Comprar</a>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/pump.png" alt="" width="250px" height="200px">
                <h3><small>PUMP </small></h3>
                <p>Pump es un suplemento alimenticio que contiene proteína de soya diseñador para personas que
                    realizan actividades físicas intensas o deporte. Este producto también contiene fibras,
                    carbohidratos,
                    vitaminas y minerales para complementar una alimentación saludable.
                    Algunos de los beneficios que Pump de Omnilife le otorga a los deportistas es que fortalece la masa
                    muscular y ayuda a la recuperación
                    de los tejidos musculares después de realizar algún deporte o actividad física </p>
                <h4><small>$25.27</small></h4> <a href="http://localhost:9000" class="btn btn-primary w-20">Comprar</a>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/opti.png" alt="" width="250px" height="200px">
                <h3><small>OPTIMUS</small></h3>
                <p>Ayuda a mejorar la función mental y transmisión de los impulsos neuronales,
                    disminuye la sensación de cansancio y somnolencia debido a que ayuda a la producción de energía.
                    Acción antioxidante. Combinando este producto con STARBIEN puedes obtener más beneficios en el
                    sistema neuronal y mantener estados de animo estupendos.
                </p>
                <h4><small>$23.80</small></h4> <a href="http://localhost:9000" class="btn btn-primary w-20">Comprar</a>
            </div>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h2>Productos Nutricionales para Deportistas</h2>
        <br> <br>
        <br>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/tea2.png" alt="" width="250px" height="200px">
                <h3><small>Teatino Supreme</small></h3>
                <p>Mezcla en polvo sabor a maracuyá, que contiene
                    extracto de café verde (Coffea canephora robusta
                    Pierre), L-carnitina, L-tirosina e inulina (fibra soluble).
                    Con glicósidos de esteviol, endulzante de origen natural.</p>
                <h4><small>$39.50</small></h4> <a href="http://localhost:9000" class="btn btn-primary w-20">Comprar</a>

            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/mag.png" alt="" width="250px" height="250px">
                <h3><small>Magnus</small></h3>
                <p>Producto nutricional sabor manzana, que por su contenido de vitaminas del complejo B y la glicina,
                    pueden promover la obtención de energía favoreciendo el estado de alerta del organismo.</p>
                <h4><small>$2.11</small></h4> <a href="http://localhost:9000" class="btn btn-primary w-20">Comprar</a>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/mags.png" alt="" width="250px" height="200px">
                <h3><small>Magnus Supreme</small></h3>
                <p>Suplemento alimenticio, que contiene vitaminas del complejo B: tiamina B1, riboflavina B2, niacina
                    B3, ácido pantoténico B5, piridoxina B6, ácido fólico B9, cobalamina B12, vitaminas C y E, glicina,
                    además de minerales: zinc, cobre y cromo. Con endulzante de origen natural, estevia.</p>
                <h4><small>$23.85</small></h4> <a href="http://localhost:9000" class="btn btn-primary w-20">Comprar</a>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/mix.png" alt="" width="250px" height="200px">
                <h3><small>Super Mix Supreme</small></h3>
                <p>Malteada sabor vainilla, que contiene proteína, omega 3, vitamina A, complejo B (B1,B2, B3, B5, B6,
                    Biotina, B9, B12), vitaminas C, D y E, además de minerales como calcio, cobre, fósforo, hierro,
                    magnesio, manganeso, molibdeno, selenio, yodo, zinc, lactobacillus acidophillus y L. casei, libre de
                    grasa total.
                </p>
                <h4><small>$49.50</small></h4> <a href="http://localhost:9000" class="btn btn-primary w-20">Comprar</a>
            </div>

        </div>
        <br>
        <br>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="/img/und.png" alt="" width="250px" height="200px">
                <h3><small>UNDU </small></h3>
                <p>Fortalece, aumenta la masa muscular y ayuda a recuperar los tejidos musculares. Delicioso producto
                    nutricional. Glucosamina, condroitina, arginina. Edulcorantes de origen natural</p>
                <h4><small>$65.99</small></h4> <a href="http://localhost:9000" class="btn btn-primary w-20">Comprar</a>
            </div>
        </div>
        <br>
        <br>
        <br>
        <a class="nav-link" href="/"
            style="background-color: black; color:azure; width: 100px; height:30px;text-align: center;position: relative;top: 30px;">Ejercicios</a>
        <a class="nav-link" href="/contact"
            style="background-color: black; color:azure; width: 100px; height:30px;text-align: center; position: relative;top: 0px; left: 1337px;">Contáctanos</a>

        <%- include('partials/footer')%>
</body>

</html>