<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>

        <br>
        <br>
        <a class="nav-link" href="http://localhost:5000/contact" style="background-color: black; color:azure; width: 100px; height:30px;text-align: center;position: relative;top: 30px;">Equilibrio</a>
        <a class="nav-link" href="/about" style="background-color: black; color:azure; width: 100px; height:30px;text-align: center;position: relative;top: 0px;left: 1340px;">Productos</a>

        <%- include('partials/footer')%>
</body>

</html>