<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br><br><br><br> <br>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px;">Zapatos de adultos </h1>
        <!--main content-->
        <br> <br>
        <a href="http://localhost:9000/zapatocuero"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7RLDMXEmb9HZYL5GM18wU13Nr8rmIuRvusw&usqp=CAU" 
                alt="" width="300px" height="300px" style="position: relative;top: -1px; left: 50px;"></a>
        <a href="http://localhost:9000/zapatocuerom"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRoD5qscFKFWy_BBma2l1TUilQ6a4emljWINQ&usqp=CAU" 
                alt="" width="300px" height="300px" style="position: relative;top: -1px; left: 60px;"></a>
        <a href="http://localhost:9000/botas"><img
                src="https://i.linio.com/p/65c51636f6c02d22d9ab658f18a1e76f-product.jpg"
                alt="" width="300px" height="300px" style="position: relative;top: -1px; left: 100px;"></a>
        <a href="http://localhost:9000/tacos"><img
                src="https://media.istockphoto.com/id/619367674/es/foto/foto-de-estudio-de-un-par-de-sandalias-femeninas-de-gamba-negra.jpg?s=612x612&w=0&k=20&c=xI4Xeu-sWB_0O6u6o7fX7rZcFsLrAmZ75oSrLuDnYXU=" 
                alt="" width="300px" height="300px" style="position: relative;top: -1px; left: 150px;"></a>


        <br>
        <br>
        <br>

        <%- include('partials/footer')%>
</body>

</html>