<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <br><br><br><br> <br>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px;">SANDALIAS DE JOVENES</h1>
                <!--main content-->

                <a href="http://localhost:9000/zandalla"><img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVyFOJKwGQcCpaxGHQH1JMIj3XwTGYJdiq4Q&usqp=CAU"
                        alt="" width="380px" height="380px" style="position: relative;top: -1px; left: 50px;"></a>
                <a href="http://localhost:9000/zandallamujer"><img
                        src="https://m.media-amazon.com/images/I/41rxU29pVWS.jpg" 
                        alt="" width="300px" height="300px" style="position: relative;top: -1px; left: 40px;"></a>
                <a href="http://localhost:9000/clancla"><img
                        src="https://i.ebayimg.com/thumbs/images/g/JfoAAOSwKZ1gda46/s-l300.jpg" 
                        alt="" width="350px" height="350px" style="position: relative;top: -1px; left: 50px;"></a>
                <a href="http://localhost:9000/clanclamujer"><img
                        src="https://www.estarguapas.com/pics/2021/03/31/dresslksnf-chanclas-para-mujer-sandalias-playa-verano-piscina-ducha-boda-casa-flip-flops-2020-ligeros-antideslizantes-zapatillas-casa-44525-2.jpg"
                        alt="" width="350px" height="350px" style="position: relative;top: -1px; left: 50px;"></a>

                <br>
                <br>
                <br>

                <%- include('partials/footer')%>
</body>

</html>