<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br><br><br><br> <br>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px;">Zapatos para niños y niñas</h1>
        <!--main content-->
        <br> <br>
        <a href="http://localhost:9000/zapato"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZdImIwoaDBVh0TGuKfhkfOxOrXKttTQHU_w&usqp=CAU"
                alt="" width="450px" height="450px" style="position: relative;top: -1px; left: 250px;"></a>
        <a href="http://localhost:9000/zapatonino"><img
                src="https://calzadoyotsel.com/wp-content/uploads/2020/03/calzado-yotsel-koala2.jpg"
                alt="" width="450px" height="450px" style="position: relative;top: -1px; left: 280px;"></a>
            <br> <br>
        <%- include('partials/footer')%>
</body>

</html>