<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br><br><br><br> <br>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px;">Zapatos de personas mayores</h1>
        <!--main content-->
        <br> <br>
        <a href="http://localhost:9000/zapatoanciano"><img
                src="https://m.media-amazon.com/images/I/71FZPa+aM-L._AC_UY1000_.jpg" alt=""
                width="350px" height="350px" style="position: relative;top: -1px; left: 300px;"></a>
        <a href="http://localhost:9000/zapatoanciana"><img
                src="https://m.media-amazon.com/images/I/719v7WFrE6L._AC_SL1500_.jpg"
                alt="" width="340px" height="340px" style="position: relative;top: -1px; left: 350px;"></a>


        <%- include('partials/footer')%>
</body>

</html>