<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>
        <%- include('partials/navigation')%>
                <br>
                <br>
                <a href="http://localhost:9000/categorias-zapatos"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 40px; left: 100px; color: rgb(172, 3, 194);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px;">CHANCLAS DE MUJERES</h1>
                <br>
                <br>
                <a href="http://localhost:9000/clanclamujer1"><img
                                src="https://http2.mlstatic.com/D_NQ_NP_667889-MLA48109578884_112021-W.jpg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 100px;"></a>


                <a href="http://localhost:9000/clanclamujer2"><img
                                src="https://http2.mlstatic.com/D_NQ_NP_789582-MLM41589406413_042020-O.webp" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 200px;"></a>
                <a href="http://localhost:9000/clanclamujer3"><img
                                src="https://http2.mlstatic.com/D_NQ_NP_986487-MLM31720689838_082019-W.jpg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 300px;"></a>

                <br>
                <br>
                <a href="http://localhost:9000/clanclamujer4"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIbZGTio2By_SSV6quq6poxeoKsCPjXp408ZU6YHZzefrsv6PARdsv0YRSFKZWGSfwyTI&usqp=CAU"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 330px;"></a>
                <a href="http://localhost:9000/clanclamujer5"><img
                                src="https://ae01.alicdn.com/kf/Hdc4ed4d88f7e40a2af6d2b4293300c910/Chanclas-de-tac-n-plano-para-mujer-zapatillas-con-patr-n-Floral-zapatos-antideslizantes-para-exteriores.jpg_Q90.jpg_.webp"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 430px;"></a>
                <br>
                <br>

                <a href="http://localhost:9000/clanclamujer6"><img
                                src="https://http2.mlstatic.com/D_NQ_NP_681742-MLM51043935766_082022-W.jpg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 500px;"></a>
                <a href="http://localhost:9000/clanclamujer7"><img
                                src="https://www.estarguapas.com/pics/2021/03/31/dresslksnf-chanclas-para-mujer-sandalias-playa-verano-piscina-ducha-boda-casa-flip-flops-2020-ligeros-antideslizantes-zapatillas-casa-44525-2.jpg"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 600px;"></a>


                <br>
                <br>

                <br>
                <br>
                <br>
                <br>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 380px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 770px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 1165px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -412px; left: 400px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -370px; left: 810px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -140px; left: 470px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -140px; left: 860px;">
                        $ 22
                </button>

                <%- include('partials/footer')%>
</body>

</html>