<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br><br><br><br> <br>
        <a href="http://localhost:9000/polvo"><i class="bi bi-arrow-left-circle"></i><svg
                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                style="position: relative;top: 40px; left: 100px; color: rgb(194, 105, 3);" fill="currentColor"
                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg></a>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px;color:rgb(187, 106, 0);">Maquillaje Compacto 2 en
                1</h1>
        <br>


        <a href="http://localhost:9000/polvo"><img
                src="https://bellazaysalud.com/wp-content/uploads/2020/03/Maquillaje-Compacto-2-en-1-Setytu-Beneficios.jpg"
                alt="" width="350px" height="300px" style="position: relative;top: 70px; left: 300px;"></a>
        <a href="http://localhost:9000/polvo"><img
                src="https://www.vaniafashion.com/wp-content/uploads/2019/08/Maquillaje-Compacto-2-en-1-SEYTU.png"
                alt="" width="300px" height="300px"
                style="position: relative;top: 70px; left: 294px; transform:rotate(0deg);"></a>
        <br>

        <a href="http://localhost:9000/polvo"><img
                src="https://i0.wp.com/ytimg.googleusercontent.com/vi/odChT9OuCE8/maxresdefault.jpg?resize=160,120"
                alt="" width="350px" height="300px" style="position: relative;top: 67px; left: 300px;"></a>

        <a href="http://localhost:9000/polvo"><img
                src="https://http2.mlstatic.com/D_NQ_NP_714467-MPE41344880485_042020-O.jpg" alt="" width="300px"
                height="140px" style="position: relative;top: -310px; left: 594px; transform:rotate(0deg);"></a>
        <a href="http://localhost:9000/polvo"><img
                src="https://ucired.org.mx/wp-content/uploads/MAQUILLAJE-2-EN-1-SEYTU-LIGTH-300x250.jpg"
                alt="" width="300px" height="140px"
                style="position: relative;top: -150px; left: 289px; transform:rotate(0deg);"></a>
        <a href="http://localhost:9000/polvo"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfQNvuNUtbkyNZYMN1tkzDaRxyVodoGpieh3kSjk8sOzWnPnT4rjnTKwPv0R13mriTeNc&usqp=CAU"
                alt="" width="300px" height="300px"
                style="position: relative;top: 65px; left: -315px; transform:rotate(0deg);"></a>
        <a href="http://localhost:9000/polvo"><img
                src="https://i.pinimg.com/550x/0d/ee/c7/0deec712ca730055b2a2982e23d54c5d.jpg"
                alt="" width="300px" height="300px"
                style="position: relative;top: -234px; left: 949px; transform:rotate(0deg);"></a>


        <%- include('partials/footer')%>
</body>

</html>