<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br><br><br><br> <br>
        <a href="http://localhost:9000/paleta"><i class="bi bi-arrow-left-circle"></i><svg
                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                style="position: relative;top: 40px; left: 100px; color: rgb(118, 3, 194);" fill="currentColor"
                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg></a>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px;color:rgb(103, 0, 187);">PALETA de sombras</h1>
        <br>


        <a href="http://localhost:9000/paleta"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6sOgXEGItYcoV0CbaoHFN8hHzr1KDnHrYruMGK6-V_QIqE3ornZAyeHOIRk9nEsBmOTc&usqp=CAU"
                alt="" width="350px" height="300px" style="position: relative;top: 70px; left: 300px;"></a>
        <a href="http://localhost:9000/paleta"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQocZ1binmgxHLbhXm1bcPCpPPLIb2MmI_XAg&usqp=CAU"
                alt="" width="300px" height="300px"
                style="position: relative;top: 70px; left: 294px; transform:rotate(0deg);"></a>
        <br>
        <br>
        <a href="http://localhost:9000/paleta"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSzysp_c0mtcZp8iQewFvSz3PCqggKHtq3gZ0jRoL1Hcz3fOg4MDpsDjbBP_h3HRsF_uE8&usqp=CAU"
                alt="" width="350px" height="300px" style="position: relative;top: 43px; left: 300px;"></a>

        <a href="http://localhost:9000/paleta"><img
                src="https://http2.mlstatic.com/D_NQ_NP_852011-MLM44041789145_112020-O.jpg" alt="" width="300px"
                height="150px" style="position: relative;top: -330px; left: 594px; transform:rotate(0deg);"></a>
        <a href="http://localhost:9000/paleta"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTuTYCt29nuTKLurxIz_FYU3QB3rs8idqMCux8lg0ZAvg-4MB4mytRjYaSjK2VEVyg80JE&usqp=CAU"
                alt="" width="300px" height="150px"
                style="position: relative;top: -180px; left: 289px; transform:rotate(0deg);"></a>
        <a href="http://localhost:9000/paleta"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwKEVQQj048gOJzxdDZrinOQcuJngwyCklPz0hBWZG1VBkg1JDsvDEU52rTjMGYBdFFqM&usqp=CAU"
                alt="" width="300px" height="300px"
                style="position: relative;top: 43px; left: -315px; transform:rotate(0deg);"></a>
        <a href="http://localhost:9000/paleta"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRRDW-LCPfe5yt-IzO6yZ7EXX0UsD_oPNCVL5w7usn6CRwJfzz5RbUBlia0_KNIfjFVn7w&usqp=CAU"
                alt="" width="300px" height="300px"
                style="position: relative;top: -255px; left: 949px; transform:rotate(0deg);"></a>
        <br>
        <br>

        <br>
        <br>


        <%- include('partials/footer')%>
</body>

</html>