<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br>
        <br>
        <br>
        <br>
        <h1 class=" text-uppercase fw-bold">Sandalias antideslizante</h1>


        <a href="http://localhost:9000/contact"><img src="https://m.media-amazon.com/images/I/61UXgs5RdZL._AC_SY395_.jpg"
                alt="" width="550px" height="500px" style="position: relative;top: 70px; left: 300px;"></a>
        <div class="w-25" style="position: relative;top: -350px; left: 950px;">
            <h3 style="background:rgb(187, 0, 140); font-weight: bolder;"><small>##SandaliaPiscina</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    De suela chloride
                </li>
                <li class="nav-item">
                    Cómodo de llevar
                </li>
                <li class="nav-item">
                   Larga duración de 3 a 4 años
                </li>
                <li class="nav-item">
                    De secado rápido
                </li>
            </ul>        <br>
            <h3 style="background:rgb(187, 0, 140); font-weight: bolder;"><small>TALLAS</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    30, 32, 33, 34, 35, 36 y 37

                </li>
                <li class="nav-item">
                    4-8 Años

                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -300px; left: 950px;">  Comprar
        </button>
       
        <%- include('partials/footer')%>
</body>

</html>