<footer class="bg-dark text-white text-center p-2">  
    <h5>Levantate y brilla ¡Es hora de hacer ejercicio!</h5>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>