<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Salud & Belleza</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto" style="color:azure; font-weight: bolder;">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:5000">OMNILIFE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/about">SEYTÚ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/contact">Contáctanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:7000">Música</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/contact">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost/Proyecto-Bemuscle/administrar">Hospedador</a>
        </li>
      </ul>
    </div>
  </div>
</nav>