<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br><br><br><br>        <br>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px;">Salud & Belleza</h1>
        <!--main content-->
        <br>        <br>
        <a href="http://localhost:5000"><img src="img/omnilife.jpg" alt="" width="250px" height="209px"
                style="position: relative;top: 40px; left: 380px;"></a>
        <a href=""><img src="img/seytu.jpg" alt="" width="250px" height="209px"
                style="position: relative;top: 40px; left: 550px;"></a>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
           
        <%- include('partials/footer')%>
</body>

</html>