<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br><br><br><br> <br>
        <a href="http://localhost:9000/esmalte"><i class="bi bi-arrow-left-circle"></i><svg
                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                style="position: relative;top: 40px; left: 100px; color: rgb(118, 3, 194);" fill="currentColor"
                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg></a>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px;color:rgb(103, 0, 187);">ESMALTE para uñas</h1>
        <br>


        <a href="http://localhost:9000/esmalte"><img
                src="https://i.pinimg.com/originals/2e/8d/f1/2e8df1c0672dc08dc68594bfa879ad0e.jpg"
                alt="" width="350px" height="300px" style="position: relative;top: 70px; left: 300px;"></a>
        <a href="http://localhost:9000/esmalte"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQvB8_RN4I8vF4YnhtWErhZllNgvhjAQOT1FsaCQyv98_rpnHlj4LRLTHL7Ch-O9YxBsE&usqp=CAU"
                alt="" width="300px" height="300px"
                style="position: relative;top: 70px; left: 294px; transform:rotate(0deg);"></a>
        <br>

        <a href="http://localhost:9000/esmalte"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS44PaRFOdBEUZAT7eb14_9tq_0UrI0Gm8lNp-pbH_EHXOdhPJyVoN_O5y2dzd2p7I6Tms&usqp=CAU"
                alt="" width="350px" height="300px" style="position: relative;top: 43px; left: 300px;"></a>

        <a href="http://localhost:9000/esmalte"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGpc2970hZYCOWjXGy5L0qIiqWm7jxn06WqmOL9k-LFMQMJ1GIdCKkvLhUNfbj2lkoQ2I&usqp=CAU" alt="" width="300px"
                height="140px" style="position: relative;top: -310px; left: 594px; transform:rotate(0deg);"></a>
        <a href="http://localhost:9000/esmalte"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQaaT59KUCEaNllra-r8xdiO55kplhb8EM_OWhFjaPIUSYe5_NcIEs7tHNhLFld7OTrvdc&usqp=CAU"
                alt="" width="300px" height="140px"
                style="position: relative;top: -170px; left: 289px; transform:rotate(0deg);"></a>
        <a href="http://localhost:9000/esmalte"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTzlszgkJ3nPE5Ytql37HoIQr_Y9PxwVyDcD06nIzAyCe2POAgl4dZVD2mx9Dk3VPSQTh4&usqp=CAU"
                alt="" width="300px" height="300px"
                style="position: relative;top: 43px; left: -315px; transform:rotate(0deg);"></a>
        <a href="http://localhost:9000/esmalte"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRje0pKERDEqb-GELjCA53g4cZl9mHqqUamBqXi0Pwd4Z82cwL0gVLgDOl2-SCAi0In904&usqp=CAU"
                alt="" width="300px" height="300px"
                style="position: relative;top: -255px; left: 949px; transform:rotate(0deg);"></a>


        <%- include('partials/footer')%>
</body>

</html>