<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Salud & Belleza</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto" style="color:azure; font-weight: bolder;">
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:5000">OMNILIFE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/about">SEYTÚ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:3000/contact">Contáctanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/mesagge">Contáctanos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/categorias">Categorías</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/categorias-zapatos">Categorías-zapatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/categorias-zapatosninonina">Categorías-zapatos niño niña</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/categorias-zapatosadolescentes">Categorías-zapatos
            Adolescentes</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/categorias-zapatosadulto">Categorías-zapatos Adulto</a>
        </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:9000/categorias-zapatosmayores">Categorías-zapatos Mayor</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:9000/categorias-zapatosdeportivos">Categorías-zapatos Deportivos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://localhost:9000/categorias-sandalias">Categorías- Sandalias</a>
      </li>






        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/paleta">Paleta de sombras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/esmalte">Esmalte para uñas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/maquillaje">Maquillaje Líquido</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/unias">uñas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/cara">cara</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/polvo">polvo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/mascarilla">mascarilla</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/corrector">corrector</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/sombras">Sombras</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:7000">Música</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/contact">Blog</a>
        </li>

        <!--
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapato">Zapatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapato1">Zapatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapato2">Zapatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapato3">Zapatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapato4">Zapatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapato5">Zapatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapato6">Zapatos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapato7">Zapatos</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatonino">Zapato Niño</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatonino1">Zapato Niño</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatonino2">Zapato Niño</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatonino3">Zapato Niño</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatonino4">Zapato Niño</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatonino5">Zapato Niño</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatonino6">Zapato Niño</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatonino7">Zapato Niño</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadole">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadole1">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadole2">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadole3">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadole4">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadole5">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadole6">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadole7">Zapato Adolescentes</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadoles">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadoles1">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadoles2">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadoles3">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadoles4">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadoles5">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadoles6">Zapato Adolescentes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoadoles7">Zapato Adolescentes</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuero">Zapato de Cuero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuero1">Zapato de Cuero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuero2">Zapato de Cuero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuero3">Zapato de Cuero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuero4">Zapato de Cuero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuero5">Zapato de Cuero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuero6">Zapato de Cuero</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuero7">Zapato de Cuero</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuerom">Zapato de Cuero Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuerom1">Zapato de Cuero Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuerom2">Zapato de Cuero Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuerom3">Zapato de Cuero Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuerom4">Zapato de Cuero Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuerom5">Zapato de Cuero Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuerom6">Zapato de Cuero Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatocuerom7">Zapato de Cuero Mujer</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciano">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciano1">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciano2">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciano3">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciano4">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciano5">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciano6">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciano7">Zapato de Adulto</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciana">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciana1">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciana2">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciana3">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciana4">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciana5">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciana6">Zapato de Adulto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatoanciana7">Zapato de Adulto</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivo">Zapato Deportivo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivo1">Zapato Deportivo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivo2">Zapato Deportivo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivo3">Zapato Deportivo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivo4">Zapato Deportivo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivo5">Zapato Deportivo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivo6">Zapato Deportivo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivo7">Zapato Deportivo</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivom">Zapato Deportivo Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivom1">Zapato Deportivo Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivom2">Zapato Deportivo Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivom3">Zapato Deportivo Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivom4">Zapato Deportivo Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivom5">Zapato Deportivo Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivom6">Zapato Deportivo Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatodeportivom7">Zapato Deportivo Mujer</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandalla">Zandalla de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandalla1">Zandalla de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandalla2">Zandalla de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandalla3">Zandalla de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandalla4">Zandalla de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandalla5">Zandalla de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandalla6">Zandalla de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandalla7">Zandalla de Hombre</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandallamujer">Zandalla de Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandallamujer1">Zandalla de Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandallamujer2">Zandalla de Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandallamujer3">Zandalla de Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandallamujer4">Zandalla de Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandallamujer5">Zandalla de Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandallamujer6">Zandalla de Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zandallamujer7">Zandalla de Mujer</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/botas">Botas de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/botas1">Botas de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/botas2">Botas de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/botas3">Botas de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/botas4">Botas de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/botas5">Botas de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/botas6">Botas de Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/botas7">Botas de Hombre</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/tacos">Tacos para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/tacos1">Tacos para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/tacos2">Tacos para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/tacos3">Tacos para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/tacos4">Tacos para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/tacos5">Tacos para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/tacos6">Tacos para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/tacos7">Tacos para Mujer</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatolara">Zapato lara</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatolara1">Zapato lara</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatolara2">Zapato lara</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatolara3">Zapato lara</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatolara4">Zapato lara</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatolara5">Zapato lara</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatolara6">Zapato lara</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatolara7">Zapato lara</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatomujerlara">Zapato lara Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatomujerlara1">Zapato lara Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatomujerlara2">Zapato lara Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatomujerlara3">Zapato lara Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatomujerlara4">Zapato lara Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatomujerlara5">Zapato lara Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatomujerlara6">Zapato lara Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatomujerlara7">Zapato lara Mujer</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenu">Zapato venu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenu1">Zapato venu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenu2">Zapato venu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenu3">Zapato venu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenu4">Zapato venu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenu5">Zapato venu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenu6">Zapato venu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenu7">Zapato venu</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenumujer">Botas de mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenumujer1">Botas de mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenumujer2">Botas de mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenumujer3">Botas de mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenumujer4">Botas de mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenumujer5">Botas de mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenumujer6">Botas de mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/zapatovenumujer7">Botas de mujer</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clancla">Clancla para Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clancla1">Clancla para Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clancla2">Clancla para Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clancla3">Clancla para Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clancla4">Clancla para Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clancla5">Clancla para Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clancla6">Clancla para Hombre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clancla7">Clancla para Hombre</a>
        </li>


        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clanclamujer">Clancla para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clanclamujer1">Clancla para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clanclamujer2">Clancla para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clanclamujer3">Clancla para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clanclamujer4">Clancla para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clanclamujer5">Clancla para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clanclamujer6">Clancla para Mujer</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="http://localhost:9000/clanclamujer7">Clancla para Mujer</a>
        </li>
        -->

        <li class="nav-item">
          <a class="nav-link" href="http://localhost/Proyecto-Bemuscle/administrar">Hospedador</a>
        </li>
      </ul>
    </div>
  </div>
</nav>