<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>
    <%- include('partials/navigation')%>
    <br>
    <br>
    <h1 class=" text-uppercase fw-bold">Ejercicios de Entrenamiento</h1>
    <!--main content-->
    <br>
    <br>
    <h2>Ejercicios de Entrenamiento para Equilibrio</h2>
    <br>  
    <br>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5IzCNw_RW6zhrep7UTGmf7S4YzG6o0VNh4g&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>SENTADILLAS</small></h3>
                <p>Nos colocaremos de pie con los pies en paralelo y abiertos a la anchura de las caderas. Nuestros
                    brazos se colocarán a lo largo del cuerpo. Cogeremos aire y al soplar bajaremos con las rodillas
                    paralelas sin sobrepasar las puntas de los dedos.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQkbvZcT653ZK6KdJB47c_hPnMmKsnh0PlVmw&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>CUADRUPEDIA</small></h3>
                <p>Nos colocaremos de pie con los pies en paralelo y los brazos estirados a lo largo del cuerpo.
                    Cogeremos aire, y al soplar, llevaremos los brazos al frente, elevaremos los talones y aguantaremos
                    la posición durante 10-15 segundos.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJ78lqPGGfaEvjH-wFHeanhUCqx1AWwL2FSg&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>ELEVANDO LOS TALONES</small></h3>
                <p>Para el siguiente ejercicio utilizaremos una silla como apoyo. Nos colocaremos de pie, detrás de la
                    silla y con la mano derecha apoyada en el respaldo.
                    Cogeremos aire, y al soplar, realizaremos una extensión de cadera llevando la pierna izquierda hacia
                    atrás.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTP98VwksWm2E3sAek8d3WZNLTAToC9wBnb6Q&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>SILLA COMO APOYO</small></h3>
                <p>Por último, nos colocaremos de pie, con los pies paralelos y los brazos en cruz. Cogeremos aire, y al
                    soplar, flexionaremos la rodilla y elevaremos la pierna en diagonal intentando tocar la rodilla con
                    la mano contraria.</p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRf-eqqwUjfkvP3lwhT_MvkM94DJNkGQz_itg&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>SINGLE-LEG DEADLIFT</small></h3>
                <p>Para realizar el peso muerto con una pierna, empieza el ejercicio de pie. Mantén el core activado.
                    Ahora lleva despacio una pierna hacia atrás manteniéndola estirada. A la vez, mueve el torso hacia
                    adelante hasta que quede paralelo al suelo, con los brazos extendidos a la altura de los hombros,
                    perpendiculares al suelo. Para subir, lleva la pierna trasera hacia adelante.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp73JHrQDsJJMCJ4nuzJUdM-4DJfoIxZ_47w&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>SPEED SKATERS</small></h3>
                <p>¡Pon a prueba tu equilibrio y estabilidad con el ejercicio del patinador! Empieza en posición
                    erguida, con los pies separados a la anchura de las caderas. Pasa el peso a tu pierna derecha y
                    levanta el pie izquierdo del suelo. Activa la pierna de base a la vez que mantienes el equilibrio
                    con la pierna izquierda ligeramente detrás de ti. Ahora salta encima del pie izquierdo en la otra
                    dirección. </p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQSJYdHtm2-L36lC639Au5DS321LyJiA2aOAA&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>SINGLE LEG SQUATS</small></h3>
                <p>Empieza de pie con todo el peso sobre una pierna. Flexiona ligeramente la pierna opuesta y llévala
                    por delante de ti. Ahora, flexiona lentamente la pierna de base hasta la posición de sentadilla
                    manteniendo la rodilla estable y en línea con el tobillo. Después de completar todas las
                    repeticiones sobre una pierna, cambia de lado.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfVYmzB0wj5z7Thae9qM9qSQT1obuw9y0fPQ&usqp=CAU"
                    alt="" width="250px" height="200px">
                <h3><small>LUNGE & TWIST</small></h3>
                <p>Empieza en posición erguida, con los pies juntos. Activa el core y lleva el pecho hacia arriba. Baja
                    en posición de zancada con el pie derecho por delante. La rodilla frontal debe quedar perpendicular
                    al suelo, manteniéndola en línea con el tobillo y por detrás de los dedos de los pies. Aguanta la
                    posición, manteniendo las caderas, las rodillas y las piernas quietas mientras haces una torsión.
                </p>
            </div>

        </div>
        <br>
        <br>
        <br>
        <h1 class=" text-uppercase fw-bold">Rutinas de Ejercicios de Entrenamiento</h1>
        <br>
        <br>
        <h2>Rutinas de Ejercicios de Entrenamiento para Equilibrio</h2>
        <br>
        <br>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/9Lc4y5RsrnA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>EJERCICIOS DE EQUILIBRIO | Muévete en casa</small></h3>
                <p>Conseguir reforzar nuestros tobillos, base importante de nuestro cuerpo</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/Z9Wwxgj9wAI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>5 EJERCICIOS para MEJORAR el EQUILIBRIO</small></h3>
                <p>5 ejercicios que te ayudarán a mejorar el equilibrio corporal /p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/wCJrsgxyCYI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>EQUILIBRIO y FUERZA de PIERNAS</small></h3> 
                <p>Ejercicios simples de equilibrio ganar fuerza y estabilidad en las piernas.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/mC_Wdu6d-rM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>5 Ejercicios de EQUILIBRIO para Adultos Mayores (prevención de caídas)</small></h3> 
                <p>5 ejercicios para trabajar el equilibrio en el adulto mayor y así ayudar en la prevención de caídas./p>
            </div>

        </div>
        <div class="container vh-50 d-flex justify-content-center align-items-center"
            style="position: relative;top: 60px; left: 40px;">

            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/FnKlJBrOv-k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>5 ejercicios para trabajar y así ayudar en la prevención de caídas y lesiones.</small></h3> 
                <p> En este video hablamos de los saltos y el equilibrio en fútbol, como un método para prevenir lesiones.</p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/9GjeEFpbuTM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>ENTRENA EL EQUILIBRIO Y ESTABILIDAD CON BOSU 2021</small></h3> 
                <p> Para lograr ese objetivo, en el segmento de entrenamiento RUNFIT. </p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/nEaQ5IpFCRI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>Mejora tu equilibrio con estos ejercicios</small></h3> 
                <p> Vamos a trabajar el equilibrio a través de una secuencia de cinco posiciones. </p>
            </div>
            <div class="w-25" style="position: relative;top: -30px; left: 40px;">
                <iframe width="250" height="200" src="https://www.youtube.com/embed/FdCjXZzAEPc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <h3><small>EJERCICIOS PARA MEJORAR EL EQUILIBRIO</small></h3> 
                <p> Realiza diversas ejercicios de equilibros para no poder caerse y estar bien firmes </p>
            </div>

        </div>
        <main class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center">
            <section>
                <h1 class="display-1 ">Contáctanos</h1>

                <br> <br>
                <h1 class=" text-uppercase fw-bold">ENTRENADORES</h1>
                <!--main content-->
                <br>
                <header class="container vh-50 d-flex justify-content-center align-items-center"
                    style="position: relative;top: 60px; left: 40px;">
                    <div class="w-20" style="position: relative;top: -30px; left: 40px;">
                        <img src="/img/entrenador.png" alt="" width="250px" height="250px">
                        <h3><small>Entrenador</small> <a href="https://api.whatsapp.com/send?phone=593983387740&text=HOLA%20NECESITO%20INFORMACION%20DE%20AUXILIAR%20DE%20ENFERMERIA%20FPW"><img src="https://i.pinimg.com/736x/6c/78/49/6c784972cbf5806215d46fbda8b0c46a.jpg" alt="" width="60px" height="60px"></a></h3>

                    </div>
                    <div class="w-20" style="position: relative;top: -30px; left: 40px;">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E0DAQFbossrzFjqUQ/learning-author-crop_200_200/0/1611318730523?e=1665324000&v=beta&t=ZHCOogiMYWFSNYkUpaeEm1bQCRe4r587JAa2ovSAFvg" alt="" width="350px" height="250px">
                        <h3 style="width:350px; "><a href="https://www.linkedin.com/in/beatrizcresporuiz/"><img src="https://thumbs.dreamstime.com/b/fije-mano-el-contorno-blanco-del-icono-en-el-fondo-negro-del-ejemplo-87708976.jpg" alt="" width="50px" height="50px"></a> <small>Beatriz Crespo Ruiz </small><a href="https://es.linkedin.com/learning/lumbares-saludables-rutina-de-estiramientos-para-una-espalda-libre-de-tensiones"><img src="https://us.123rf.com/450wm/alexwhite/alexwhite1609/alexwhite160906128/62613342-curso-en-l%C3%ADnea-de-plata-met%C3%A1lico-de-cromo-web-icono-de-coraz%C3%B3n-sobre-fondo-negro.jpg" alt="" width="80px" height="60px"></a></h3>
                    
                    </div>
                    <div class="w-20" style="position: relative;top: -30px; left: 40px;">
                        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQHIhVJUIFsDFA/profile-displayphoto-shrink_200_200/0/1565483890418?e=1670457600&v=beta&t=L4IoITmYaBuHAfUkHQtQdgyqxFDVvBawUkItau8lVRc" alt="" width="250px" height="250px">
                        <h3><a href="https://ec.linkedin.com/in/carlos-eduardo-jara-959131190"><img src="https://thumbs.dreamstime.com/b/fije-mano-el-icono-blanco-en-un-fondo-negro-del-ejemplo-87709036.jpg" alt="" width="60px" height="60px"></a><small>Carlos Eduardo Jara</small></h3>
                    </div>
            </section>
        </main>
        </header>
        <a class="nav-link" href="/" style="background-color: black; color:azure; width: 100px; height:30px;text-align: center; position: relative;top: 30px;">Flexibilidad</a>
        <a class="nav-link" href="http://localhost:3000"
            style="background-color: black; color:azure; width: 200px; height:30px;text-align: center;position: relative;top: 0px; left: 1239px;">Fisicoculturismo</a>
        <%- include('partials/footer')%>
</body>

</html>