<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>
        <%- include('partials/navigation')%>
                <br>
                <br>
                <a href="http://localhost:9000/categorias-ropahombre"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 40px; left: 100px; color: rgb(172, 3, 194);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px;">CAMISETAS PARA HOMBRES</h1>
                <br>
                <br>
                <a href="http://localhost:9000/camiseta1"><img
                                src="https://m.media-amazon.com/images/I/31DQOB495xL._SL500_.jpg" alt="" width="350px"
                                height="209px" style="position: relative;top: 40px; left: 100px;"></a>


                <a href="http://localhost:9000/camiseta2"><img
                                src="https://i.pinimg.com/550x/ed/14/3f/ed143fddc944ab2dd8bd0a4d7f920cfd.jpg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 200px;"></a>
                <a href="http://localhost:9000/camiseta3"><img
                                src="https://onesmoda.com/16860-large_default/pktgms-dragonfly-tee-ss-aop.jpg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 300px;"></a>

                <br>
                <br>
                <a href="http://localhost:9000/camiseta4"><img
                                src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/jack-jones-camiseta-1651147972.jpg?crop=1xw:1xh;center,top&resize=480:*"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 330px;"></a>
                <a href="http://localhost:9000/camiseta5"><img
                                src="https://i.pinimg.com/originals/da/db/80/dadb803ee3a50a30e34891de0e9ed216.jpg"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 430px;"></a>
                <br>
                <br>

                <a href="http://localhost:9000/camiseta6"><img
                                src="https://cdn.grupoelcorteingles.es/statics/manager/contents/images/uploads/2022/01/SJSfVdCTK.jpeg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 500px;"></a>
                <a href="http://localhost:9000/camiseta7"><img
                                src="https://ae01.alicdn.com/kf/H388f9bbcbd5742d09d977433c3f645e1W/Plam-camisas-hawaianas-con-estampado-de-rbol-para-hombre-camisa-blanca-de-manga-corta-a-la.jpg_Q90.jpg_.webp" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 600px;"></a>


                <br>
                <br>

                <br>
                <br>
                <br>
                <br>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 380px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 770px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 1165px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -412px; left: 400px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -370px; left: 810px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -140px; left: 470px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -140px; left: 860px;">
                        $ 22
                </button>

                <%- include('partials/footer')%>
</body>

</html>