<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br>
        <br>
        <br>
        <br>
        <h1 class=" text-uppercase fw-bold">CAMISETA TOMMY HILFIGER</h1>


        <a href="http://localhost:9000/contact"><img src="https://tommycolombia.vteximg.com.br/arquivos/ids/284016-500-667/Camiseta-de-cuello-redondo-y-corte-regular.jpg?v=638078367745170000"
                alt="" width="550px" height="500px" style="position: relative;top: 70px; left: 300px;"></a>
        <div class="w-25" style="position: relative;top: -350px; left: 950px;">
            <h3 style="background:rgb(10, 10, 10); font-weight: bolder;"><small>#CamisetaMujer</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    De color blanco 
                </li>
                <li class="nav-item">
                    Acabado de 100% algodón
                </li>
                <li class="nav-item">
                    Ideal para ir al parque
                </li>
                <li class="nav-item">
                    De secado rápido
                </li>
            </ul>        <br>
            <h3 style="background:rgb(10, 10, 10); font-weight: bolder;"><small>TALLAS</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    S, M, L, XL 

                </li>
                <li class="nav-item">
                    20-60 Años

                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -300px; left: 950px;">  Comprar
        </button>
       
        <%- include('partials/footer')%>
</body>

</html>