<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br><br><br><br> <br>
        <a href="http://localhost:9000/maquillaje"><i class="bi bi-arrow-left-circle"></i><svg
                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                style="position: relative;top: 40px; left: 100px; color: rgb(194, 105, 3);" fill="currentColor"
                class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
            </svg></a>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px;color:rgb(187, 106, 0);">Maquillaje Líquido UP+ FPS 15</h1>
        <br>


        <a href="http://localhost:9000/maquillaje"><img
                src="https://pbs.twimg.com/media/DshcKyMWwAA9h8x.jpg"
                alt="" width="350px" height="300px" style="position: relative;top: 70px; left: 300px;"></a>
        <a href="http://localhost:9000/maquillaje"><img
                src="https://i.pinimg.com/236x/91/cf/af/91cfaf69fb9249ca9959c474b078b314.jpg"
                alt="" width="300px" height="300px"
                style="position: relative;top: 70px; left: 294px; transform:rotate(0deg);"></a>
        <br>

        <a href="http://localhost:9000/maquillaje"><img
                src="https://www.tupulga.com/storage/files/ec/573/thumb-1000x1000-702cca400c8f97c5059ee059cdb61d11.jpg"
                alt="" width="350px" height="300px" style="position: relative;top: 43px; left: 300px;"></a>

        <a href="http://localhost:9000/maquillaje"><img
                src="https://bellazaysalud.com/wp-content/uploads/2020/03/Maqullaje-liquido-Up-Seytu.jpg" alt="" width="300px"
                height="140px" style="position: relative;top: -310px; left: 594px; transform:rotate(0deg);"></a>
        <a href="http://localhost:9000/maquillaje"><img
                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTeLCtF4XA85JMxpRUqOzUxAJw2fAhP58thXXwCTGAlg0cb6YD5mGREOHQPqFRhInFkHXo&usqp=CAU"
                alt="" width="300px" height="140px"
                style="position: relative;top: -170px; left: 289px; transform:rotate(0deg);"></a>
        <a href="http://localhost:9000/maquillaje"><img
                src="https://sumerlabs.com/sumer-app-90b8f.appspot.com/product_photos%2F6dd2ac58cd10d0e2bd022e3202495d64%2F8ff8c760-a6b5-11ec-b4c0-d7c4aaffd180?alt=media&token=3bccf077-f96b-414a-8fae-663b756c0afd"
                alt="" width="300px" height="300px"
                style="position: relative;top: 43px; left: -315px; transform:rotate(0deg);"></a>
        <a href="http://localhost:9000/maquillaje"><img
                src="https://www.creeartecomunidad.com/wp-content/uploads/2018/10/Maquillaje-liquido-UP-SeyT%C3%BA-web.jpg"
                alt="" width="300px" height="300px"
                style="position: relative;top: -255px; left: 949px; transform:rotate(0deg);"></a>


        <%- include('partials/footer')%>
</body>

</html>