<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>

        <%- include('partials/navigation')%>
                <br><br><br><br> <br>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px;">ROPA & MODA</h1>
                <!--main content-->
                <br> <br>
                <a href="http://localhost:9000/chaqueta"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSpZ_byTqgu6hc4yi57fLiYJsOVEYCjNqk3Rw&usqp=CAU"
                                alt="" width="300px" height="200px" style="position: relative;top: -50px; left: 60px; 
                "></a>
                <a href="http://localhost:9000/camiseta"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSv9ZGTUURWAaTRZnSnDF5YzN4DCDZK1DoChQ&usqp=CAU"
                                alt="" width="200px" height="300px" style="position: relative;top: 0px; left: 50px; 
                "></a>
                <a href="http://localhost:9000/pantalon"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2jF08PKvxtgJFMgBJc86KPi68TKdlYZjFJw&usqp=CAU" alt=""
                                width="250px" height="250px" style="position: relative;top: -25px; left: 45px; 
                "></a>
                <a href="http://localhost:9000/shorts"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR30YkK4KNBbNgxTzYELx7E92Admcq8JFi73Q&usqp=CAU" alt=""
                                width="255px" height="350px" style="position: relative;top: 25px; left: 30px; 
                "></a>
                <a href="http://localhost:9000/chaquetamujer"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSlFULqYIvndsNi07U6xyuQieITuvIgQf2C6A&usqp=CAU"
                                alt="" width="250px" height="200px" style="position: relative;top: -50px; left: 20px; 
                "></a>
                <br><br>
                <a href="http://localhost:9000/camisetamujer"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMac4Yh2vlISQ71koY1ZPGnYleAvZy2JByog&usqp=CAU"
                                alt="" width="100px" height="200px" style="position: relative;top: -160px; left: 60px; 
                "></a>
                <a href="http://localhost:9000/pantalonmujer"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwnGIkaLXUmNu4d4uZDsuN-A1G9dhsf-dmcw&usqp=CAU" alt=""
                                width="150px" height="160px" style="position: relative;top: -170px; left: 50px; 
                "></a>
                <a href="http://localhost:9000/shortsmujer"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQq6v7QSdT5cCGHAjyg4uZStCjqtu_F8vsm2g&usqp=CAU" alt=""
                                width="100px" height="160px" style="position: relative;top: -170px; left: 20px; 
                "></a>

                <a href="http://localhost:9000/chaqueta"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQTbmtWaIISGsJ5eJf832Q-Oj1wQzK4Wyr-OQ&usqp=CAU" alt=""
                                width="200px" height="200px" style="position: relative;top: -50px; left: 16px; 
                "></a>
                <a href="http://localhost:9000/camiseta"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR1MCIZovCDFVr5qays7-keWca-Dukqn_Qhjg&usqp=CAU" alt=""
                                 width="250px" height="200px" style="position: relative;top: -100px; left: -15px; 
                "></a>
                <br> <br>

                <a href="http://localhost:9000/pantalon"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvIE0z4ZJV2fngjlFS0-ophvUUbCQiE5KlmFJzC5MCr0W3vpBJKKmZOEmwrwaFV2ErS3E&usqp=CAU"
                                alt="" width="150px" height="180px" style="position: relative;top: -450px; left: 1040px; 
                "></a>
                <a href="http://localhost:9000/shorts"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS2gs7gHlHB20qs4fSs3DZBdWy5FFPsq0-w1qzQ2MJ1I7yfeMdWlDCDQb2_j5_aXSRcyuc&usqp=CAU" alt="" 
                                width="130px" height="170px" style="position: relative;top: -445px; left: 1010px; 
                "></a>

                <a href="http://localhost:9000/chaquetamujer"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDakRu8BUoaqQAf82XNbJWsWT1VL3hQy75Yw&usqp=CAU" alt=""
                                width="319px" height="305px" style="position: relative;top: -218px; left: -229px; 
                "></a>
                <a href="http://localhost:9000/camisetamujer"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbxu9NgmafwngR9XQjuku1Bxaptg73huonBQ&usqp=CAU"
                                alt="" width="200px" height="162px" style="position: relative;top: -145px; left: -232px; 
                "></a>
                <a href="http://localhost:9000/pantalonmujer"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI9d2IdpRAoNC4vEUyFxlA2SQPNYJqT8m2IQ&usqp=CAU" alt=""
                                width="150px" height="150px" style="position: relative;top: -215px; left: -240px; 
                "></a>
                <br> <br>
                <a href="http://localhost:9000/shortsmujer"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtXGtF53nGGWhYyNYbCI5jGtQlRf04sIUn9Pa-iIEq30HK_ytVcsq2kX44LRW5DFPEShc&usqp=CAU"
                                alt="" width="75px" height="212px" style="position: relative;top: -452px; left: 728px; 
                "></a>
                <a href="http://localhost:9000/chaqueta"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRGdaNIceKnvT6Hk1EjE_Ds_U9Z4b47uyuME6ilOyRGcQJMRzzQLfoCJ-uPGDm7Tcg-I_Y&usqp=CAU"
                                alt="" width="152px" height="80px" style="position: relative;top: -385px; left: 498px; 
                "></a>
                <a href="http://localhost:9000/camiseta"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ37aFc4jASZYFZc4pdxArJfUz7f_F_TlV5ZA&usqp=CAU" alt=""
                                width="235px" height="200px" style="position: relative;top: -559px; left: 568px; 
                "></a>
                <a href="http://localhost:9000/pantalon"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQDRkcM0vMQTvRm6k-Ry5tETHlXidsszDbmbA&usqp=CAU" alt=""
                                width="254px" height="180px" style="position: relative;top: -550px; left: 565px; "></a>
                <a href="http://localhost:9000/shorts"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqaeFDB62tbezSVcbMTnWbEZGPY8j64C3etiDbO6Dmc2E3lVKiEF6JAQ_so7vgbWeCnEM&usqp=CAU"
                                alt="" width="490px" height="140px" style="position: relative;top: -415px; left: 70px;
                "></a>
                
                <%- include('partials/footer')%>
</body>

</html>