<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br><br><br><br> <br>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px;">Ropa para Hombres </h1>
        <!--main content-->
        <br> <br>
        <a href="http://localhost:9000/chaqueta"><img
                src="https://www.anne-benveniste.com/wp-content/uploads/2021/09/hombre-prada-chaqueta-blusc3b3n-de-tejido-vaquero-c3adndigo-azul-tejido-vaquero-555x694.jpg" 
                alt="" width="300px" height="300px" style="position: relative;top: -1px; left: 50px;"></a>
        <a href="http://localhost:9000/camiseta"><img
                src="https://cdn.grupoelcorteingles.es/statics/manager/contents/images/uploads/2022/01/SJSfVdCTK.jpeg" 
                alt="" width="300px" height="300px" style="position: relative;top: -1px; left: 60px;"></a>
        <a href="http://localhost:9000/pantalon"><img
                src="https://static.pullandbear.net/2/photos/2023/V/0/2/p/8685/570/406/8685570406_1_1_3.jpg?t=1675855893094"
                alt="" width="300px" height="300px" style="position: relative;top: -1px; left: 100px;"></a>
        <a href="http://localhost:9000/shorts"><img
                src="https://www.innovasport.com/medias/short-adidas-4krft-sport-is-DU1592-1.jpg?context=bWFzdGVyfGltYWdlc3wxNzE4NTZ8aW1hZ2UvanBlZ3xpbWFnZXMvaDliL2hmOC85OTU2MjE5MzIyMzk4LmpwZ3xlMjQwZDg5YmRhN2IwZDliOTE1YjI2ZGJiNjVhMzFiYTJiOWYxMzZjYzRiOWY2MjNiMDY3ZjQ4ZjY5MzJhYzkx" 
                alt="" width="300px" height="300px" style="position: relative;top: -1px; left: 150px;"></a>


        <br>
        <br>
        <br>

        <%- include('partials/footer')%>
</body>

</html>