<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br><br><br><br> <br>
        <h1 class=" text-uppercase fw-bold" style="font-size: 50px;">Ropa para Mujer </h1>
        <!--main content-->
        <br> <br>
        <a href="http://localhost:9000/chaquetamujer"><img
                src="http://cdn.shopify.com/s/files/1/0443/2039/1332/products/84711_BCW_large.jpg?v=1604521755" 
                alt="" width="300px" height="300px" style="position: relative;top: -1px; left: 50px;"></a>
        <a href="http://localhost:9000/camisetamujer"><img
                src="https://tommycolombia.vteximg.com.br/arquivos/ids/284016-500-667/Camiseta-de-cuello-redondo-y-corte-regular.jpg?v=638078367745170000" 
                alt="" width="300px" height="300px" style="position: relative;top: -1px; left: 60px;"></a>
        <a href="http://localhost:9000/pantalonmujer"><img
                src="https://doite.cl/media/catalog/product/cache/51e3addcb2545e636df330656784b553/5/1/5156dabd68cea54379a29a664df507.jpg"
                alt="" width="300px" height="300px" style="position: relative;top: -1px; left: 100px;"></a>
        <a href="http://localhost:9000/shortsmujer"><img
                src="https://www.zimmermann.com/media/catalog/product/1/_/1.5428wlau.chm.chambray.jpg" 
                alt="" width="300px" height="300px" style="position: relative;top: -1px; left: 150px;"></a>


        <br>
        <br>
        <br>

        <%- include('partials/footer')%>
</body>

</html>