<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br>
        <br>
        <br>
        <br>
        <h1 class=" text-uppercase fw-bold">CHAQUETA PATAGONIA </h1>


        <a href="http://localhost:9000/contact"><img src="https://cdn.shopify.com/s/files/1/0443/2039/1332/products/85240_ANDB_OPEN.jpg?v=1668445196"
                alt="" width="550px" height="500px" style="position: relative;top: 70px; left: 300px;"></a>
        <div class="w-25" style="position: relative;top: -350px; left: 950px;">
            <h3 style="background:rgb(12, 12, 12); font-weight: bolder;"><small>#ChaquetaHombre</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    Color celeste 
                </li>
                <li class="nav-item">
                    Chaqueta impermeable 
                </li>
                <li class="nav-item">
                    Proporciona una protección duradera
                </li>
                <li class="nav-item">
                    Transpirabilidad
                </li>
            </ul>        <br>
            <h3 style="background:rgb(14, 13, 13); font-weight: bolder;"><small>TALLAS</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    S, M, L, XL

                </li>
                <li class="nav-item">
                    20 - 60 Años

                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -300px; left: 950px;">  Comprar
        </button>
       
        <%- include('partials/footer')%>
</body>

</html>