<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br>
        <br>
        <br>
        <br>
        <h1 class=" text-uppercase fw-bold">Chaqueta Impermeable</h1>


        <a href="http://localhost:9000/contact"><img src="https://cdn.shopify.com/s/files/1/0443/2039/1332/products/85245_CNY.jpg?v=1668454257"
                alt="" width="550px" height="500px" style="position: relative;top: 70px; left: 300px;"></a>
        <div class="w-25" style="position: relative;top: -350px; left: 950px;">
            <h3 style="background:rgb(8, 8, 8); font-weight: bolder;"><small>#ChaquetaMujer</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    De color azul marino
                </li>
                <li class="nav-item">
                    Cuello forrado en micropolar
                </li>
                <li class="nav-item">
                    Cierre frontal anti enganches
                </li>
                <li class="nav-item">
                    Ideal para tiempo de lluvia
                </li>
            </ul>        <br>
            <h3 style="background:rgb(10, 10, 10); font-weight: bolder;"><small>TALLAS</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    S, M, L, XL

                </li>
                <li class="nav-item">
                    20 - 60 Años

                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -300px; left: 950px;">  Comprar
        </button>
       
        <%- include('partials/footer')%>
</body>

</html>