<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br>
        <br>
        <br>
        <br>
        <h1 class=" text-uppercase fw-bold">Pantal칩n Only Cargo Pants</h1>


        <a href="http://localhost:9000/contact"><img src="https://photos6.spartoo.es/photos/185/18518650/18518650_350_A.jpg"
                alt="" width="550px" height="500px" style="position: relative;top: 70px; left: 300px;"></a>
        <div class="w-25" style="position: relative;top: -350px; left: 950px;">
            <h3 style="background:rgb(7, 7, 7); font-weight: bolder;"><small>#Pantal칩nMujer</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    Color verde 
                </li>
                <li class="nav-item">
                    Acabado de 75% Algod칩n, 25% Tencel
                </li>
                <li class="nav-item">
                    Bolsillos de parche y costuras de acento
                </li>
                <li class="nav-item">
                    Cierre: sin cierre
                </li>
            </ul>        <br>
            <h3 style="background:rgb(10, 10, 10); font-weight: bolder;"><small>TALLAS</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    S, M, L, XL

                </li>
                <li class="nav-item">
                    20-60 A침os

                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -300px; left: 950px;">  Comprar
        </button>
       
        <%- include('partials/footer')%>
</body>

</html>