<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br>
        <br>
        <br>
        <br>
        <h1 class=" text-uppercase fw-bold">PANTALÓN WFEI</h1>


        <a href="http://localhost:9000/contact"><img src="https://ae01.alicdn.com/kf/He815c3b596694f3abaeedf01f6f77322F/Pantalones-con-insignias-populares-para-hombre-Vaqueros-europeos-y-americanos-nuevos-el-sticos-ajustados-pitillo.jpg_Q90.jpg_.webp"
                alt="" width="550px" height="500px" style="position: relative;top: 70px; left: 300px;"></a>
        <div class="w-25" style="position: relative;top: -350px; left: 950px;">
            <h3 style="background:rgb(8, 8, 8); font-weight: bolder;"><small>#PantalónHombre</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    Color azul obscuro
                </li>
                <li class="nav-item">
                    Acabado 100% algodón
                </li>
                <li class="nav-item">
                    Cómodo de llevar
                </li>
                <li class="nav-item">
                    Moderno te hace más atractivo
                </li>
            </ul>        <br>
            <h3 style="background:rgb(15, 15, 15); font-weight: bolder;"><small>TALLAS</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    S, M, L, XL

                </li>
                <li class="nav-item">
                    20-60 Años

                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -300px; left: 950px;">  Comprar
        </button>
       
        <%- include('partials/footer')%>
</body>

</html>