<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>
        <%- include('partials/navigation')%>
                <br>
                <br>
                <a href="http://localhost:9000/categorias-ropamujer"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 40px; left: 100px; color: rgb(172, 3, 194);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px;">PANTALONES PARA MUJER</h1>
                <br>
                <br>
                <a href="http://localhost:9000/pantalonmujer1"><img
                                src="https://cdn.fashiola.es/L606562506/maison-margiela-wide-leg-jogger-trousers.jpg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 100px;"></a>


                <a href="http://localhost:9000/pantalonmujer2"><img
                                src="https://www.stylefile.es/dw/image/v2/BCZD_PRD/on/demandware.static/-/Sites-master-catalog/default/dw9c509e78/hi-res/P.KH16A00030001-z1.jpg?sw=1500&q=80"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 200px;"></a>
                <a href="http://localhost:9000/pantalonmujer3"><img
                                src="https://cdn.grupoelcorteingles.es/statics/manager/contents/images/uploads/2022/09/rkePEsl5bi.jpeg"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 300px;"></a>

                <br>
                <br>
                <a href="http://localhost:9000/pantalonmujer4"><img
                                src="https://cdn.grupoelcorteingles.es/statics/manager/contents/images/uploads/2022/04/H1KldAPS5.jpeg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 330px;"></a>
                <a href="http://localhost:9000/pantalonmujer5"><img
                                src="https://i.linio.com/p/b159a6464a5813416523ce50eb322f58-product.jpg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 430px;"></a>
                <br>
                <br>

                <a href="http://localhost:9000/pantalonmujer6"><img
                                src="https://photos6.spartoo.es/photos/185/18518650/18518650_350_A.jpg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 500px;"></a>
                <a href="http://localhost:9000/pantalonmujer7"><img
                                src="https://doite.cl/media/catalog/product/cache/51e3addcb2545e636df330656784b553/5/1/5156dabd68cea54379a29a664df507.jpg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 600px;"></a>


                <br>
                <br>

                <br>
                <br>
                <br>
                <br>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 380px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 770px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 1165px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -412px; left: 400px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -370px; left: 810px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -140px; left: 470px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -140px; left: 860px;">
                        $ 22
                </button>

                <%- include('partials/footer')%>
</body>

</html>