<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <%- include('partials/head')%>
</head>

<body>

    <%- include('partials/navigation')%>
        <br>
        <br>
        <br>
        <br>
        <h1 class=" text-uppercase fw-bold">PANTALÓN WFEI </h1>


        <a href="http://localhost:9000/contact"><img src="https://cf.shopee.com.mx/file/754470f4ec04a1129d9a697776f1a141_tn"
                alt="" width="550px" height="500px" style="position: relative;top: 70px; left: 300px;"></a>
        <div class="w-25" style="position: relative;top: -350px; left: 950px;">
            <h3 style="background:rgb(7, 7, 7); font-weight: bolder;"><small>#PantalónHombre</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    Color blanco
                </li>
                <li class="nav-item">
                    Acabado 100% algodón
                </li>
                <li class="nav-item">
                    Cómodo de llevar
                </li>
                <li class="nav-item">
                    Moderno te hace más atractivo
                </li>
            </ul>        <br>
            <h3 style="background:rgb(10, 10, 10); font-weight: bolder;"><small>TALLAS</small></h3>
            <ul class="navbar-nav ms-auto" style="color:rgb(1, 29, 61); font-weight: bolder;">
                <li class="nav-item">
                    S, M, L, XL

                </li>
                <li class="nav-item">
                    20-60 Años

                </li>
            </ul>
        </div>
        <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -300px; left: 950px;">  Comprar
        </button>
       
        <%- include('partials/footer')%>
</body>

</html>