<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>
        <%- include('partials/navigation')%>
                <br>
                <br>
                <a href="http://localhost:9000/categorias-ropahombre"><i class="bi bi-arrow-left-circle"></i><svg
                                xmlns="http://www.w3.org/2000/svg" width="46" height="46"
                                style="position: relative;top: 40px; left: 100px; color: rgb(172, 3, 194);"
                                fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                        d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
                        </svg></a>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px;">PANTALONES PARA HOMBRE</h1>
                <br>
                <br>
                <a href="http://localhost:9000/pantalon1"><img
                                src="https://cf.shopee.com.mx/file/754470f4ec04a1129d9a697776f1a141_tn" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 100px;"></a>


                <a href="http://localhost:9000/pantalon2"><img
                                src="https://ae01.alicdn.com/kf/He815c3b596694f3abaeedf01f6f77322F/Pantalones-con-insignias-populares-para-hombre-Vaqueros-europeos-y-americanos-nuevos-el-sticos-ajustados-pitillo.jpg_Q90.jpg_.webp"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 200px;"></a>
                <a href="http://localhost:9000/pantalon3"><img
                                src="https://img.joomcdn.net/fd9a7002ffb747eae5055ad93c2f1247fe88f4bf_original.jpeg"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 300px;"></a>

                <br>
                <br>
                <a href="http://localhost:9000/pantalon4"><img
                                src="https://sc01.alicdn.com/kf/U9c0d1298476c4fceb7512402b57e1652D.png" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 330px;"></a>
                <a href="http://localhost:9000/pantalon5"><img
                                src="https://image.made-in-china.com/155f0j00vscUaGidJEqY/Cheapest-Product-Fashion-Men-prime-S-Trousers-Pants-High-Quality-Hollow-out-Men-Skinny-Jeans-Pants.jpg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 430px;"></a>
                <br>
                <br>

                <a href="http://localhost:9000/pantalon6"><img
                                src="https://cdn.shopify.com/s/files/1/0566/6553/8619/products/S3a55bdda24054306866fc44f7c95a9e6W_1445x.jpg?v=1652994690" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 500px;"></a>
                <a href="http://localhost:9000/pantalon7"><img
                                src="https://static.pullandbear.net/2/photos/2023/V/0/2/p/8685/570/406/8685570406_1_1_3.jpg?t=1675855893094" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 600px;"></a>


                <br>
                <br>

                <br>
                <br>
                <br>
                <br>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 380px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 770px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 1165px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -412px; left: 400px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -370px; left: 810px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -140px; left: 470px;">
                        $ 22
                </button>
                <button type="button" class="btn btn-dark"
                        style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -140px; left: 860px;">
                        $ 22
                </button>

                <%- include('partials/footer')%>
</body>

</html>