<!DOCTYPE html>
<html lang="en">

<head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
                <%= title%>
        </title>
        <%- include('partials/head')%>
</head>

<body>
        <%- include('partials/navigation')%>
                <br>
                <br>
                <h1 class=" text-uppercase fw-bold" style="font-size: 50px;">LABIALES MATE</h1>
                <br>
                <br>
                <a href="http://localhost:5000"><img
                                src="https://lh3.googleusercontent.com/p/AF1QipOj9SHIajx-zPeGCnvfPS_NrzSK_heV7J_-JyKJ=s1280-p-no-v1"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 100px;"></a>

                       
                <a href="http://localhost:5000"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcToGBTUu0titWdSZ9GJpXYQJz2HtWaUX8gSZA_kzi-3qPIH_DATfUrTkL4I-qfgjn1X5wY&usqp=CAU"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 200px;"></a>
                <a href="http://localhost:5000"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR-mtBCAAvpA4VQlHY39pqyMlsGK_SnNwz4m_Ix5Owpv5JXHOrm50Rkry6QwIouBrtXF6g&usqp=CAU"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 300px;"></a>

                <br>
                <br>
                <a href="http://localhost:5000"><img src="https://1.bp.blogspot.com/-TK68Xf62i1Q/XFftIXivuzI/AAAAAAAAEUI/XhEUKMjWgJUC-Dkia-domhWHZEVxpnIaQCLcBGAs/s1600/Atacama_Kenya_Vergara.png"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 330px;"></a>
                <a href="http://localhost:5000"><img
                                src="https://http2.mlstatic.com/D_NQ_NP_891601-MLM32595211211_102019-O.jpg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 430px;"></a>
                <br>
                <br>

                <a href="http://localhost:5000"><img
                                src="https://i.pinimg.com/736x/62/01/a1/6201a1ed4d12189dc583c5938ef7e6c4.jpg" alt=""
                                width="350px" height="209px" style="position: relative;top: 40px; left: 500px;"></a>
                <a href="http://localhost:5000"><img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV2UtzDjp-pVKWfvztAFJvyWSsaXmBPdjNIs8NmqJcGY0Ko2KsgjKvgThotHRcF79s2D8&usqp=CAU"
                                alt="" width="350px" height="209px"
                                style="position: relative;top: 40px; left: 600px;"></a>


                <br>
                <br>

                <br>
                <br>
                <br>
                <br> 
                <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 380px;">  $ 22
                </button>
                <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 770px;">  $ 22
                </button>
                <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -620px; left: 1165px;">  $ 22
                </button>
                <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -412px; left: 400px;">  $ 22
                </button>
                <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -370px; left: 810px;">  $ 22
                </button>
                <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -140px; left: 470px;">  $ 22
                </button>
                <button type="button" class="btn btn-dark" style="color:rgb(255, 255, 255); font-weight: bolder; position: relative;top: -140px; left: 860px;">  $ 22
                </button>
                
                <%- include('partials/footer')%>
</body>

</html>